
<a href="../index.html"><img src="../icons/Group-Logo-weiss-gross.svg" alt="Homepage von Rustica - Logo Kaffebohne in Raute"  class="footer__logo"></a>


<div class="footer__heading">
    <h3>Rustica</h3>
    <p>Café und Rösterei</p>
</div>


<div class="footer--big-box">
    
    <div class="footer--box-ad footer--box">
        <p>Komm uns besuchen ! <br>
           Frauenhoferstr. 13, Kiel</p>
    </div>

    <div class="footer--box-zeit footer--box">
        <p>Mo - Fr 8-18 Uhr<br>
           Sa 11-18 Uhr</p>
    </div>
    
    <div class="footer--box-imp footer--box">
        <p>
            <a href="impressum.html">Impressum</a><br>
            Datenschutz</p>
    </div>

    <div class="footer--box-cafe footer--box">
        <p><a href="cafe.html">Café</a><br>
           <a href="#">Shop</a><br>
           <a href="herkunft.html">Herkunft</a></p>
    </div>

</div>   

