
<a href="../index.html">
    <svg class="footer__logo" alt="Homepage von Rustica - Logo Kaffebohne in Raute">
        <use xlink:href="../icons/sprite-ru.svg#icon-logo"></use>
    </svg>
</a>


<div class="footer__heading">
    <h3>Rustica</h3>
    <p>Café und Rösterei</p>
</div>


<div class="footer--big-box">
    
    <div class="footer--box-ad footer--box">
        <p>Komm uns besuchen ! <br>
           Frauenhoferstr. 13, Kiel</p>
    </div>

    <div class="footer--box-zeit footer--box">
        <p>Mo - Fr 8-18 Uhr<br>
           Sa 11-18 Uhr</p>
    </div>
    
    <div class="footer--box-imp footer--box">
        <p>
            <a href="impressum.html">Impressum</a><br>
            Datenschutz<br>
              <a href="kontakt.html">Kontakt</a>
        </p>
    </div>

    <div class="footer--box-cafe footer--box">
        <p><a href="cafe.html">Café</a><br>
           <a href="shop.html">Shop</a><br>
           <a href="herkunft.html">Herkunft</a></p>
    </div>

</div>   

