<div class="header__menu">

  <div class="header__logo--box">
    <a href="../index.html">
      <svg class="header__logo" alt="Homepage von Rustica - Logo Kaffebohne in Raute">
        <use xlink:href="../icons/sprite-ru.svg#icon-logo"></use>
      </svg>
    </a>
  </div>

  <div class="burger">
    <button class="burger__btn">
      <svg class="burger__icon" alt="Burger Logo zur Seitennavigation">
        <use xlink:href="../icons/sprite-ru.svg#icon-burgermenu"></use>
      </svg>
    </button>

    <nav class="burger__nav">
      <a href="../index.html"><img class="link--x" src="../icons/Burger X.svg" alt="X-Icon Rückkehr zur Homepage"></a>
      <ul>
        <li><a href="./cafe.html">
            <h3>das Café</h3>
          </a></li>
        <li><a href="./herkunft.html">
            <h3>Herkunft</h3>
          </a></li>
        <li><a href="./shop.html">
            <h3>Shop</h3>
          </a></li>
        <li><a href="./kontakt.html">
            <h3>Kontakt</h3>
          </a></li>
      </ul>
    </nav>
  </div>

  <nav class="navigation">
    <ul>
      <li><a href="./cafe.html" class="cafe">das Café</a></li>
      <li><a href="./herkunft.html" class="herkunft">Herkunft</a></li>
      <li><a href="./shop.html" class="shop">Shop</a></li>
      <li><a href="./kontakt.html" class="kontakt">Kontakt</a></li>
    </ul>
  </nav>

</div>