
    <div class="header__menu">

      <div class="header__logo--box">
        <a href="../index.html" >
          <svg class="header__logo" alt="Homepage von Rustica - Logo Kaffebohne in Raute">
            <use xlink:href="../icons/sprite-ru.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <div class="burger">
        <input type="checkbox" class="burger__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="burger__label">
            <span class="burger__icon">&nbsp;</span>
        </label>

        <nav class="burger__nav">
            <ul>
                <li><a href="./cafe.html"><h3>das Café</h3></a></li>
                <li><a href="./herkunft.html"><h3>Herkunft</h3></a></li>
                <li><a href="#"><h3>Shop</h3></a></li>
            </ul>
        </nav>
      </div>

      <nav class="navigation">
        <ul>
          <li><a href="./cafe.html" class="cafe">das Café</a></li>
          <li><a href="./herkunft.html" class="herkunft">Herkunft</a></li>
          <li><a href="/" class="shop">Shop</a></li>
        </ul>
      </nav>
      
    </div>



  