<div class="sec-pro--box">

    <div class="sec-pro--costa">
        <div class="sec-pro--costa-foto-box">
            <img src="./images/FEND_Costa-Rica 2.png" class="sec-pro--costa-foto" alt="Kaffe-Packung Costa Rica zum Verkauf">
        </div>
        <div class="sec-pro--costa-sub">
            <p class="sec-pro--asub">Costa Rica</p>
            <p class="sec-pro__p-preis">6,90€ - 26,90€</p>
            <svg class="sec-pro__icon" alt="Icon Kaffe-Bohnen = als Bohnen zu kaufen">
                <use xlink:href="icons/sprite-ru.svg#icon-kaffeebohnen"></use>
            </svg>
            <svg class="sec-pro__icon" alt="Icon French Press = geeignet für French Press">
                <use xlink:href="icons/sprite-ru.svg#icon-frenchpress"></use>
            </svg>
            <svg class="sec-pro__icon" alt="Icon Schaufel = geröstet">
                <use xlink:href="icons/sprite-ru.svg#icon-schaufel"></use>
            </svg>
        </div>
    </div>    
    
    <div class="sec-pro--aeth">
        <div class="sec-pro--costa-foto-box">
            <img src="./images/FEND_Costa-Rica 2.png" class="sec-pro--costa-foto" alt="Kaffe-Packung Costa Rica zum Verkauf">
        </div>
        <div class="sec-pro--aeth-sub">
            <p class="sec-pro--asub">Äthiopien</p>
            <p class="sec-pro__p-preis">6,90€ - 26,90€</p>
            <svg class="sec-pro__icon" alt="Icon Kaffe-Bohnen = als Bohnen zu kaufen">
                <use xlink:href="icons/sprite-ru.svg#icon-kaffeebohnen"></use>
            </svg>
            <svg class="sec-pro__icon" alt="Icon French Press = geeignet für French Press">
                <use xlink:href="icons/sprite-ru.svg#icon-frenchpress"></use>
            </svg>
            <svg class="sec-pro__icon" alt="Icon Schaufel = geröstet">
                <use xlink:href="icons/sprite-ru.svg#icon-schaufel"></use>
            </svg>
        </div>
    </div>
</div>   
  