<div class="sec-pro--box">

    <div class="sec-pro--costa">
        <div class="sec-pro--costa-foto-box">
            <img src="./images/FEND_Costa-Rica 2.png" class="sec-pro--costa-foto" alt="Kaffe-Packung Costa Rica zum Verkauf">
        </div>
        <div class="sec-pro--costa-sub">
            <p class="sec-pro--asub">Costa Rica</p>
            <p class="sec-pro__p-preis">6,90€ - 26,90€</p>
            <img src="./icons/Kaffee Bohnen-w.svg" class="sec-pro__icon" alt="Icon Kaffe-Bohnen = als Bohnen zu kaufen">
            <img src="./icons/French Press-w.svg" class="sec-pro__icon" alt="Icon French Press = geeignet für French Press">
            <img src="./icons/Schaufel-w.svg" class="sec-pro__icon" alt="Icon Schaufel = geröstet">
        </div>
    </div>    
    
    <div class="sec-pro--aeth">
        <div class="sec-pro--costa-foto-box">
            <img src="./images/FEND_Costa-Rica 2.png" class="sec-pro--costa-foto" alt="Kaffe-Packung Costa Rica zum Verkauf">
        </div>
        <div class="sec-pro--aeth-sub">
            <p class="sec-pro--asub">Äthiopien</p>
            <p class="sec-pro__p-preis">6,90€ - 26,90€</p>
            <img src="./icons/Kaffee Bohnen-w.svg" class="sec-pro__icon" alt="Icon Kaffe-Bohnen = als Bohnen zu kaufen">
            <img src="./icons/French Press-w.svg" class="sec-pro__icon" alt="Icon French Press = geeignet für French Press">
            <img src="./icons/Schaufel-w.svg" class="sec-pro__icon" alt="Icon Schaufel = geröstet">
        </div>
    </div>
</div>   
  