//Links und mehr ...//

.link--mehr {
  text-decoration: none;
  color: black;

  @media (max-width: 768px) {
      visibility: hidden;
  }

  &:hover {
      text-decoration: underline;
  }

  &:active {
      color: $farbe-kraftpapier;
  }
}


.link--mehr-weiss {
  text-decoration: none;
  color: $farbe-weiss;

  &:hover {
      text-decoration: underline;
  }

  &:active {
      color: $farbe-kraftpapier;
  }
}

.link--x {
  position: absolute;
  right: 7.153vw;
  top: 1.9rem;
}



//Button im Header//

.btn--brown:link,
.btn--brown:visited {
  color: $farbe-weiss;
  background-color: $farbe-anthrazit;
  width: 16.3rem;
  height: 4.8rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1.5rem 4rem;
  box-sizing: border-box;
  text-decoration: none;
  margin-top: 16.5vh;

      @include desktop {
        margin-top: 18vh;
      }
  
      &:hover {
        background-color: $farbe-mittel-grau;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
      }

      &:active {
          background-color: $farbe-kraftpapier;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
      }

      &:focus {                                               
        border: $farbe-weiss solid 0.2rem ;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
      }         
}


//Button Sektion Produktpräsentation// 

.sec-pro__btn {
    color: $farbe-weiss;
    background : none;
    text-decoration: none;
    width: 16.3rem;
    height: 4.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border-radius: 0.5rem;
    border: $farbe-weiss solid 0.2rem;
    text-align: center;
    padding: 1.5rem 2rem;
    position: relative;
    z-index: 1;
    transition: all 0.8s ease-in;

    &:hover {
      transform: translateY(-0.3rem);
    }

    &:active {
        background-color: $farbe-kraftpapier;
        transform: translateY(-0.1rem);
    }

    &:focus {                                               
      transform: translateY(-0.3rem);
    }         
    
    &::after {
      content: "";
      background-color: $farbe-mittel-grau;
      position: absolute;
      display: inline-block;
      height: 100%;                                     
      width: 0;
      border-radius: 0.5rem;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all 0.8s ease-in;
    }

    &:hover::after {
      width: 100%;
    }

    &-box {
      padding: 9rem 0 14rem 0;
      text-align: center;
    }
}

.btn--brown-free:link,
.btn--brown-free:visited {
  color: $farbe-weiss;
  background-color: $farbe-anthrazit;
  width: 16.3rem;
  height: 4.8rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1.5rem 5rem;
  box-sizing: border-box;
  text-decoration: none;
  
      &:hover {
        background-color: $farbe-mittel-grau;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
      }

      &:active {
          background-color: $farbe-kraftpapier;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
      }

      &:focus {                                               
        border: $farbe-weiss solid 0.2rem ;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
      }         
}
