//Links und mehr ...//

.link--mehr {
  text-decoration: none;
  color: black;

  @media (max-width: 768px) {
      visibility: hidden;
  }

  &:hover {
      text-decoration: underline;
  }

  &:active {
      color: $farbe-kraftpapier;
  }
}


.link--mehr-weiss {
  text-decoration: none;
  color: $farbe-weiss;

  &:hover {
      text-decoration: underline;
  }

  &:active {
      color: $farbe-kraftpapier;
  }
}





//Button im Header//

.btn--brown:link,
.btn--brown:visited {
  color: $farbe-weiss;
  background-color: $farbe-anthrazit;
  width: 16.3rem;
  height: 4.8rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1.5rem 4rem;
  position:absolute;
  box-sizing: border-box;
  text-decoration: none;
  margin-top: 47.246vh;
  
      &:hover {
        background-color: $farbe-mittel-grau;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
      }

      &:active {
          background-color: $farbe-kraftpapier;
          transform: translateY(-0.1rem);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
      }

      &:focus {                                               
        border: $farbe-weiss solid 0.2rem ;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
      }         
}


//Button Sektion Produktpräsentation// 

.sec-pro__btn {
    color: $farbe-weiss;
    background-color: $farbe-anthrazit;
    text-decoration: none;
    width: 16.3rem;
    height: 4.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border-radius: 0.5rem;
    border: $farbe-weiss solid 0.2rem;
    text-align: center;
    padding: 1.5rem 2rem;

    &:hover {
      background-color: $farbe-mittel-grau;
      transform: translateY(-0.3rem);
    }

    &:active {
        background-color: $farbe-kraftpapier;
        transform: translateY(-0.1rem);
    }

    &:focus {                                               
      transform: translateY(-0.3rem);
    }         
    
    &-box {
      padding: 9rem 0 14rem 0;
      text-align: center;
    }
}