//Menu-Leiste 

.header__menu {
    height: 5.5rem;
    width: 100%;
    background-color: $farbe-weiss;             
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.153vw;
    position: fixed;                
    top: 0;
    left: 0;
}

.header__logo {
    height: 3.5rem;
    width: 3.5rem;
    fill: $farbe-schwarz;                        
}

.header__logo--box {
  display: flex;
}

.navigation {
    font-size: 1.8rem;
    line-height: 2.109rem;

    @media (max-width: 768px) {
      display: none;
  }
     
    li {
      list-style-type: none;                  
      display: inline-block;

      &:not(:last-child) {
        margin-right: 4.75vw;
      }
    }
  
    a {                                        
      text-decoration: none;
      color: $farbe-schwarz;                      
      position: relative;
  
      &::after {
        position: absolute;
         content: "";
         bottom: 0;
         left: 0;
         height: 1px;
         line-height: 1;
         width: 100%;
         background-color: currentColor;              
         transform-origin: right bottom;
         transform: scaleX(0);
         transition: transform 0.4s linear;
        }
      &:hover::after,
      &:active::after {
        transform: scaleX(1);
        transform-origin: left bottom;
        transition: transform 0.4s linear;
        }
    }
  }
  
.farbumschlag {
    background-color: transparent;
    color: $farbe-weiss !important;
    fill: $farbe-weiss;
  }



//Burger-Menu

  .burger {
    position: absolute;
  
    @media (min-width: 769px) {
      display: none;
    }

    &__btn {
      background-color: transparent;
      border: none;              
      height: 4rem;
      width: 4rem;
      position: fixed;
      top: 0.8rem;
      right: 7.153vw; 
      text-align: center;  
      cursor: pointer;                                                                
    }

    &__icon {
      display: inline-block;
      width: 3em;
      height: 3em;
      fill: $farbe-schwarz;
    }  

    &--weiss{
      fill: $farbe-weiss;
    }

    &__nav {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $farbe-schwarz;
      opacity: 0;    
      pointer-events: none;                              
      transform:translateX(-200%);
      transition: transform 2s;                    
    }

    &__nav.openheader {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }

    ul {
      list-style: none;
      width: 100vw; 
      margin-top: 37.8vh;
      margin-left: 6rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    a {
      color: $farbe-weiss;
      text-decoration: none;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    h3 {
      padding-bottom: 2.4rem;
    }
}





