//Sektion Rösterei und Cafe//
.sec__roest {
    padding-top: 12.6rem;
    max-height: 64.6rem;
    display: flex;
    
     @media (max-width: 768px) {
         flex-wrap: wrap;
         padding-top: 6rem;
    }

    &--text {
        width: 50.5vw;
        padding: 0 6rem 20rem 12.6rem;
    
        @media (max-width: 768px) {
            width: 100%;
            padding: 0 2.4rem;
            height: 21rem;
    
            h2 {
                line-height: 3.4rem;
            }
        }
    }

    &--p {
        padding: 3.5rem 0 1.75rem 0 ;

        @media (max-width: 768px) {
            padding: 2rem 0 1rem 0;
            line-height: 1.8rem;
        }
    }

    &--adresse {
        width: 31.5rem;
        padding: 1.75rem 3rem 0 0;
        display: inline-block;
    
        @media (max-width: 768px) {
            line-height: 1.8rem;
            padding: 1rem 0.5rem 0 0;
            width: 15.6rem;
        }
    }

    &--zeiten {
        width: 15rem;
        padding: 1.75rem 0 0 0rem;
        display: inline-block;
    
        @media (max-width: 768px) {
            line-height: 1.8rem;
        }
    }

    &--bilder {
        width: 60rem;
        padding: 0 0 0 0;
        margin-right: 10rem;
    
        @media (max-width: 769px) {
            width: 100%;
            padding: 0 2.4rem 0 11rem;
            text-align: right;
            margin: 0;
        }
    
        @media (max-width: 304px) {
            padding-top: 7rem;
        }
    }

    &--img {
        width: 60rem;
    
         @media (max-width: 1130px) {
             width: 45rem;
         }
        
         @media (max-width: 930px) {
             width: 35rem;
         }
    
         @media (max-width: 770px) {
            width: 24.1rem;
         }
    
    }
}


//Sektion Geback

.sec__cafe-kuchen {
    padding: 6rem 2.4rem 0 2.4rem;

    @include desktop {
        padding-top: 12.5rem;
    }

    &--text {
    max-width: 61.1rem;
    margin: 0 auto;

        p {
            margin-top: 2rem;
        }
    }

    &--bilder {
        margin: 4.8rem auto 0 auto;
        max-width: 126.5rem;
        max-height: 70rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include tablet-l {
            margin: 12.6rem auto 0 auto;
        }

        img {
            width: 100%;
        }

        &-box {
            width: 15rem;
            margin: 0.7rem;

            @include tablet-l {
                width: 24rem;
            }

            @include desktop {
                width: 29.8rem;
            }
            
            &-danish {
                @include phone {
                    order: -5;
                }
            }

            &-bar {
                @include phone {
                order: -4;
                }
            }

            &-art {
                @include phone {
                    order: -3;
                }
            }

            &-3tassen {
                @include phone {
                    order: 3;
                }
            }

            &-1tasse {
                @include phone {
                    order: 1;
                }
            }

            &-price {
                @include phone {
                    order: 2;
                }
            }
        }
    }
}






