//Farben//
$farbe-weiss: #ffffff;
$farbe-anthrazit: #1a1a1a; 
$farbe-kraftpapier: #d7be9d;
$farbe-petrol: #006d7e;
$farbe-rosa: #edd1c9;
$farbe-orange: #d77c12;
$farbe-mittel-grau: #737373;
$farbe-leicht-grau: #e9e9e9;
$farbe-eigen: #ff0000;
